@page
@model FactorySystems.CoreWebUI.Pages.Production.Company.CompanyModel
@{
    ViewData["Title"] = "Company";
}

<div class="row flex-xl-nowrap">
    <div class="col-2 bd-sidebar">
        <ul class="nav flex-column">
            <vc:production-menu></vc:production-menu>
        </ul>
        <ul class="nav flex-column">
            <vc:company-menu></vc:company-menu>
        </ul>
    </div>
    <div class="col-10">
        <div class="row">
            <h1>Company</h1>
            <div>
                side right side right side right side right side right side right side right side right side right side right side right side right
            </div>
        </div>
    </div>

</div>



<div class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4 ">

</div>






