@page
@model FactorySystems.CoreWebUI.Pages.Production.ProductionModel
@{
    ViewData["Title"] = "Production";
}

<div class="row flex-xl-nowrap">
    <div class="col-2 bd-sidebar">
        <ul class="nav flex-column">
            <vc:production-menu></vc:production-menu>
        </ul>
    </div>
    <div class="col-10">Production</div>
</div>

