<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FactorySystems</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" asp-page="/Index">Factory Systems</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav px-3">
                <vc:main-menu></vc:main-menu>
            </ul>
        </div>

    </header>


    <main role="main">
        <div class="container-fluid">
            @RenderBody()
        </div>

    </main>



    <nav class="navbar fixed-bottom navbar-light bg-light">
        <a class="navbar-brand" href="#">FactorySystems.CoreWebUI</a>
    </nav>



    @*<footer class="footer fixed-bottom mt-auto my-auto py-3">
            <div class="container">
                &copy; 2020 - FactorySystems.CoreWebUI - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    @RenderSection("Scripts", required: false)


</body>
</html>
